/* styles.css */

/** <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700**/

.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* top title syling */
.front-title {
    text-align: left;
    font-family: "Oswald", sans-serif;
    background-color: red;
}

/* Container to position elements */
.container {
    position: relative;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

/* Header styling */
.hover-header {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: "Oswald", sans-serif;
}

/* Table container initially hidden */
.table-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out
}

.container:hover .table-container {
    max-height: 500px; /* Show table container on hover */
}

/* Promotions table styling */
.promotions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.promotions-table th, .promotions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
    font-family: "Oswald";
}

.promotions-table th {
    background-color: red;
}

.promotions-table td {
    background-color: lightgray;
    color: black;
}

/* Reveal the table on hover */
.hover-header:hover + .table-container {
    max-height: 500px; /* Adjust this value to be greater than the height of your table */
    transition: max-height 0.5s ease-in;
}

.hover-header {
    font-family: "Oswald", sans-serif;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: white;
}

 /* Link styling */
 .promotions-table th a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
}

/* logo styling */
.red-fighter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.front-title {
    border: 2px solid black; /* Border properties: width, style, color */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    padding: 10px; /* Adds space inside the border */
    text-align: center; /* Center-aligns the text */
    font-family: "Oswald", sans-serif; /* Font style */
    background-color: red; /* Background color */
    margin: 0; /* Remove margin to connect to the top */
}

.red-fighter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}