body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.red-fighter {
    width: 90px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.front-title {
    text-align: left;
    margin-top: -11rem;
    color: #000000;
}

.nav-box {
    padding: 1.7rem 2rem;
    top: 0;
    width: 100%;
    max-width: 30%;
    border-radius: 0 0 2rem 2rem;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    box-shadow: 0px 0px 4px black;
    background-color: rgb(42, 75, 119);
}

.nav-list {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    gap: 6rem;
    padding: 0;
    margin: 0;
}


.nav-list li {
    position: relative;
}

.nav-list a, .nav-list button {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-content {
    color: black;
    margin: auto;
    display: none;
    position: absolute;
    top: 100%; /* Position below the nav-box */
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    color: black;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: block;
}

.middle-box {
    padding: 15rem 1rem;
    top: 0;
    width: 100%;
    max-width: 50%;
    border-radius: 0 0 2rem 2rem;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    box-shadow: 0px 0px 4px black;
    background-color: rgb(42, 75, 119);
}